<!DOCTYPE html>
<html>
<head>
<style>
img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
div {
    border-block-width: 10px;
    border-block-style: solid;
    border-block-color: pink;
    
}


</style>
</head>
<body>

<img src="https://i.pinimg.com/736x/10/ec/56/10ec568d47485b8823d9137ef4b5ca39.jpg" width="100" height="140">




 
  
</body>
</html>