<!DOCTYPE html>
<html>
<head>
 <style>    
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: rgba(155, 74, 247, 0.507);
  padding: 10px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

.item1 {
    grid-area: 1 / 2 / span 3 / span 2;
}
</style>
</head>
<body>
<h1><img src="https://i.pinimg.com/736x/10/ec/56/10ec568d47485b8823d9137ef4b5ca39.jpg" width="50" height="70"></h1>
<search style="text-align: right;">
    <form>
      <input name="fsrch" id="fsrch" placeholder="BUSQUEDA">
    </form>
  </search>
<div class="grid-container">
  <div class="item1">
    <h1 style=" color: rgb(143, 15, 202); text-decoration: underline;"> BTS </h1>
    <center><img src="https://i.pinimg.com/736x/0c/a6/dd/0ca6ddcd8ab44c8c508a5fa5e7f4097b.jpg" width="736px"; height="418px";> </center>
    <center><p style="text-align: justify;"> Son un grupo llamado Bangtan Boys dados a conocer en el 2011. La agencia estuvo buscando desde 2010 un grupo masculino basado en el Hip-Hop.
        Debido a esto, realizo una audicion llamada Hit It y tras la eleccion de los miembros se daria nombre al nuevo grupo. Estaban aproximados 
        a debutar en el 2010 despues de la audicion pero la agrupacion atraveso por varios cambios de integrantes durante el proceso de entrenamiento 
        y se pospuso.</p></center>

  </div>
  <div class="item2">
    <h1 style="background-color: rgba(155, 74, 247, 0.507); ">Noticias</h1>
    <p style="text-align: left; text-decoration: underline; color:blueviolet;"> <a href="https://eldiariodesonora.com.mx/espectaculos/2024/07/22/fenomeno-k-pop-mexico-jimin-bts-lidera-listas-itunes-spotify.html>">
        -El fenomeno del K-pop en Mexico: Jimin de BTS lidera las listas de iTunes y Spotify.</a></p>
    <p style="text-align: left; text-decoration: underline; color:pink;"><a href="https://www.planeta.pe/noticias/musica/jin-de-bts-cantante-sorprende-a-fans-al-confesar-su-cual-es-su-k-drama-favorito-queen-of-tears-k-pop/"> - Jin de BTS: cantante sorprende a fans al confesar cual es su K-drama favorito. </a></p>
</div>
  <div class="item3">
    <h1 style="background-color: rgba(155, 74, 247, 0.507)">Publicidad</h1>
    <p style="text-decoration:underline;"> <a href="https://www.marketingdirecto.com/creacion/campanas-de-marketing/campanas-publicitarias-bts-arrasan-consumidores">- Las 10 campanias publicitarias de BTS que arrasan entre los consumidores.</a></p>
    </div>  
  <div class="item4">
    <h1 style="text-decoration:underline; ">Curiosidades</h1>
    <p style="text-align: left;"> -Antes de que debutaran ya tenian 2.000 fans suscritos en su fan-cafe.</p>
    <p style="text-align: left;"> -En el MV de Jo Kwon "I'm da one" se puede ver a J-Hope y Jungkook bailando. Tambien aparecen Jin, V y SUGA.</p>
    <p style="text-align: left;"> -Jimin participo en el video "Party (XXO)" del ex grupo de Big Hit, GLAM.</p>
    <p style="text-align: left;"> -El dia 20 de febrero de 2017 su MV "Blood Sweat & Tears" consiguio 100 millones de visitas llegando a ser el segundo grupo de K-Pop en conseguirlo tan rapidamente en ese entonces.</p>
  </div>
  
  
</div>



<footer>
    <div class="footer-content">
        <p style="text-align: right;">@by isela_cavanzon</p>
        <div class="footer-links">
            <a href="" style="text-decoration: underline;">Contacto |</a>
            <a href="" style="text-decoration: underline;">Acerca de |</a>
            <a href="" style="text-decoration: underline;">Terminos y condiciones |</a>
        </div>
    </div>    
</footer>
</body>
</html>