<h1 style="padding: 10px; background: green ; color: white">
    Este es el encabezado principal que esta envuelto en etiquetas "h1".
  </h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada vehicula dictum. Integer tristique sapien nec lectus lobortis placerat.
    <strong style="color: blue;"> HAZ QUE ESTE TEXTO SEA AZUL.</strong>
    Vestibulum molestie semper facilisis. Vestibulum finibus sit amet metus eget elementum. Morbi sed eros orci.
    <em style="color: blue;">HAZ QUE ESTE TEXTO SEA AZUL.</em>
    Nullam lacinia interdum felis sit amet aliquet.
  </p>
  <center> <img style="width: 50%; border-radius: 50%;"  src="https://altselection.com/wp-content/uploads/2024/04/BTS-Monochrome-758x627.jpg" alt=""/></center>
  <h3 style="color: red;">
    Este es el subencabezado que esta envuelto en etiquetas "h3".
  </h3>
  <p>
    <a style="color: green; text-decoration-line: underline;" href="https://www.google.com.au">Soy un enlace a Google</a>
  </p>
  <iframe style="width: 600px; height: 400px;" src="https://www.youtube.com/embed/owjVpYCmwcg?si=hIDdm3AbfR0dpWJi"></iframe>